@media(min-width: 740px) {

    #albumsDisplay {
        float: left;
        height: 100%;
        width: 55%;
        margin-top: 5%;
        padding-left: 6%;
        margin-bottom: 5%;

    }

    h1,h4 {
        font-family: "Futura PT", sans-serif;
        color: white;
    }

    h1 {
        font-size: 24px;
    }

    h1 span {
        color:#ffed00;
    }

    h4 {
        margin-top: 2%;
        font-weight: lighter;
    }


    .albumBlock {
        /*display: inline-block;*/
        /*width: 130px;*/
        /*height: 130px;*/
        display: inline-flex;
        width: 130px;
        height: 130px;
        border: 3px solid #ffed00;
        margin-right: 20px;
        margin-top: 40px;

        justify-content: center;
        background-size: cover;
        transition: filter linear 0.2s;

        line-height: 290px;
        cursor: pointer;

    }

    .albumBlock span {
        font-family: "Futura PT", sans-serif;
        font-weight: lighter;
        text-align: center;
        color: #ffed00;
        font-size: small;
    }

    .albumBlock:hover {
        filter: brightness(50%);
        /*background: url('../../assets/images/play.png') no-repeat;*/
    }


    #playlistDisplay {
        float: left;
        height: 100%;
        width: 22%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #playlistDisplay > h4 {
        margin-top: 13.5%;
        margin-bottom: 3%;
    }

    .songBlock {
        color: #ffed00;
        font-family: "Futura PT", sans-serif;
    }

    .songButtons {
        float: left;
        width: 70px;
        margin-top: 15px;
    }

    .songButtons > button {
        display: inline-block;
        background: url("../../../assets/images/play_button.png") no-repeat center;
        width: 32px;
        height: 32px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .songButtons > button:nth-child(2) {
        background: url("../../../assets/images/plus_button.png") no-repeat center;
    }

    .songDetails {
        float: left;
        margin-top: 15px;
    }

    .songDetails p {
        font-size: smaller;
    }

    .songDetails span {
        font-size: smaller;
        opacity: 0.6;
        position: relative;
        top: -5px;
    }
}

@media(max-width: 740px) {

    h1, #albumsDisplay h4, .albumBlock span, .songDetails span {
        display: none;
    }

    #albumsDisplay {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .albumBlock {
        display: inline-block;
        margin-left: 2%;
        margin-bottom: 2%;
        width: 30%;
        height: 90px;
        border: 1px solid #ffed00;
        border-radius: 5px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        text-align: center;
    }

    #playlistDisplay {
        font-family: "Futura PT", sans-serif;
        display: block;
        width: 90%;
        margin: 2% 5% 27% 7%;

    }

    #playlistDisplay h4 {
        color: #ffed00
    }

    .songBlock {

    }

    .songButtons {
        float: left;
        width: 70px;
    }

    .songButtons > button {
        display: inline-block;
        background: url("../../../assets/images/play_button.png") no-repeat center;
        width: 32px;
        height: 32px;
        border: none;
        outline: none;
    }

    .songButtons > button:nth-child(2) {
        background: url("../../../assets/images/plus_button.png") no-repeat center;
    }

    .songDetails p {
        line-height: 32px;
        color: #ffed00;
        font-size: 80%;
    }


}
