<aside>
    <ul>
        <li><a class="bold" [routerLink]="['radio']" routerLinkActive="underline">Radio</a></li>
        <li><a class="bold" [routerLink]="['music']" routerLinkActive="underline">Your Music</a></li>
        <li><a class="bold" [routerLink]="['playlists']" routerLinkActive="underline">Playlists</a></li>
        <li class="seperator"><a href="#" (click)="false">Discover</a></li>
        <li><a href="#" (click)="false">Concerts</a></li>
    </ul>
</aside>

<router-outlet></router-outlet>

<app-player *ngIf="musicService.selectedSong" [song]="musicService.selectedSong"></app-player>

<div class="clear"></div>