/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Futura PT Heavy;
    src: url("assets/fonts/FuturaPTExtraBold.otf");
}

@font-face {
    font-family: Futura PT;
    src: url("assets/fonts/FuturaPTBoldOblique.otf");
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/images/home_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Futura PT Heavy, sans-serif;
}



.clear {
    clear: both;
}

nav, aside, section, article, header, footer, main {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    display: block;
    border: 16px solid white;
    border-top: 16px solid #ffed00;
    border-bottom: 16px solid #f60304;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 100;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loaderContent {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

@media(min-width: 740px) {

    .loginBackground {
        /*font-family: "Futura PT", sans-serif;*/
        background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
        url("assets/images/login_background.png") no-repeat center center fixed;
        opacity: 0.9;
        background-blend-mode: screen;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .categoryBackground {
        background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
        url("assets/images/bruno_mars_background.png") no-repeat 95% center fixed;
        opacity: 0.9;
        background-blend-mode: screen;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 30%;
    }

    .dashboardBackground {
        background: black;
        background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
        url("assets/images/dashboard_background.png") no-repeat center right fixed;
        background-blend-mode: screen;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 83%;
    }

}

@media(max-width: 740px) {

    html {
        min-height: 100%;
    }

    #loader {
        width: 60px;
        height: 60px;
    }

    .loginBackground {
        background: url("assets/images/login_background.png") no-repeat center center fixed;
        opacity: 0.9;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .categoryBackground, .dashboardBackground {
        background: url("assets/images/dashboard_background.png") no-repeat center center fixed;
        opacity: 0.9;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}